
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 开启鼠标
set mouse=a

" 设置光标所在列高亮
" set cursorcolumn

" indentLine 开启代码对齐线
" let g:indentLine_enabled = 1

" markdown
" let system = system('uname -s')
" if system == "Darwin\n"
"     let g:mkdp_path_to_chrome = "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome"
" else
"     let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
" endif
" nmap <silent> <F7> <Plug>MarkdownPreview
" imap <silent> <F7> <Plug>MarkdownPreview
" nmap <silent> <F8> <Plug>StopMarkdownPreview
" imap <silent> <F8> <Plug>StopMarkdownPreview

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"

autocmd BufRead *.c,*.cpp,*.cc,*.h set et sw=4 ts=4						"C setting
autocmd BufRead *.html,*.css,*.js set et sw=2 ts=2 						"html setting
autocmd FileType javascript set omnifunc=javascriptcomplete#CompleteJS 	"javascript completion
autocmd FileType css set omnifunc=csscomplete#CompleteCSS              	"css completion

colorscheme gruvbox
highlight LineNr        cterm=bold  ctermfg=DarkGrey    ctermfg=none
highlight CursorLineNr  cterm=bold  ctermfg=LightBlue   ctermbg=Blue 
highlight CursorLine    cterm=bold  ctermfg=none        ctermbg=DarkGrey 
highlight Comment       cterm=none  ctermfg=189         ctermbg=none

map <silent> SS :update<CR>
map <silent> QQ :q<CR>
nnoremap <F7> :! clear && cat ./% <CR>

" Quickly Run
noremap <silent> r :call CompileRunGcc() <CR> <CR>
func! CompileRunGcc()
	execute "w"
  execute "!clear"
	if &filetype == 'c'
		if !isdirectory('build')
			execute "!mkdir build"
		endif
		execute "!gcc % -o build/%<"
		execute "!time ./build/%<"
	elseif &filetype == 'cpp'
		if !isdirectory('build')
			execute "!mkdir build"
		endif
		execute "!g++ % -o build/%<"
		execute "!time ./build/%<"
	elseif &filetype == 'cc'
		if !isdirectory('build')
			execute "!mkdir build"
		endif
		execute "!g++ % -o build/%<"
		execute "!time ./build/%<"
	elseif &filetype == 'java'
		execute "!javac %"
		execute "!java %<"
	elseif &filetype == 'python'
		execute "!time python3 %"
	endif
endfunc

